$gray: #e1e4ea;

.menu {
  width: 95.1%;
  margin: auto;
  height: 43px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.25;
  font-size: 16px;
  color:#818FA3;
  font-weight: 600;
}

%speech-buttons {
  margin-right: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  text-decoration: none;
  border: none;
  padding: 8px;
  border-radius: 4px;
}

body {
  background-color: $gray;
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.speech-title {
  padding-top: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: left;
  letter-spacing: normal;
  color: #0a1f44;
  margin-left: 16px;
}

.speech-words {
  text-align: left;
  margin-left: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #0a1f44;
}

.speech-key-word {
  @extend %speech-buttons;
  background-color: #8A94A6;
  color: #fff;
}

.speech-req-type {
  @extend %speech-buttons;
  text-align: left;
  background-color: #FFCA65;
}

.specify__options {
  @extend %speech-buttons;
  background-color: #6fefce;
  color: $gray;
}

.new-request__trouble-word {
  @extend %speech-buttons;
  background-color: #6DDFBA;
  color: #fff;
}

.new-request__form-button {
  @extend %speech-buttons;
  background-color: rgb(2, 132, 254);
  color: #fff;
  width: 100%;
}
