p {
    margin: 0;
}

.new-request {
    background-color: #fff;
    text-align: left;
    margin-bottom: 11px;
}

.new-request__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 28px;
    padding-bottom: 15px;
}

.new-request__title {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #0a1f44;
    margin-bottom: 15px;
}

.new-request__trouble-title {

    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8a94a6;
    margin-bottom: 15px;
}

.new-request__trouble-descr {
    margin-top: 10px;
}

.new-request__form-input_long {
    width: 100%;
    height: 30px;
}

.new-request__form-label {
    margin-bottom: 5px;
}

.new-request__form-input {
    margin: 10px 0;
    padding-left: 16px;
}

.new-request__form-short-container {
    display: flex;
    justify-content: center;
}

.new-request__form-textarea {
    width: 100%;
    height: 120px;
    padding-left: 16px;
}

.new-request__form-row-wrapper {
    display: flex;
    justify-content: space-between;
}

.new-request__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.new-request__small-input-wrapper {
    position: relative;
    margin-top: 10px;
}

.new-request__form-label_small {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.new-request__form-input_small {
    height: 30px;
}

