.questions-root {
  background: #ffffff;
  width: 100%;
  margin-bottom: 11px;
}

.questions-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 32px;
}

.questions-title {
  height: 28px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #0a1f44;

  margin-bottom: 8px;
}

.questions-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 65px;
}

.questions-item {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #8a94a6;
}
