.address-card-root {
  width: 100%;
  height: 153px;
  background-color: #ffffff;
  margin-bottom: 11px;
}

.address-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 28px;
  padding-left: 32px;
}

.address-card-title {
  height: 22px;
  text-align: left;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #0a1f44;
  margin-bottom: 5px;
}
.address-card-address {
  height: 28px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.5px;
  color: #0a1f44;

  margin-bottom: 5px;
}

.address-card-info {
  display: flex;
  flex-direction: column;
  height: 55px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #8a94a6;
}

.address-card-info-row {
  text-align: left;
  //display: flex;
  //flex-direction: row;
}

.address-card-info-row-green-text {
  color: green;
}