.dropdown-row {
    margin: 0 16px;
    border-bottom: 1px solid #f1f2f4;
    // padding-bottom: 7px;
}

.dropdown-row__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-row__title {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #53627c;
    text-align: left;
}

.dropdown-row__text {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8a94a6;
    transition: .3s height ease-in-out;
}

.dropdown-row__text_hidden {
    height: 0;
    overflow: hidden;
}