.info-base-root {
    background: #ffffff;
    width: 100%;
    margin-bottom: 11px;
}

.info-base-inner {
    display: flex;
    flex-direction: column;
   align-items: flex-start;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-left: 32px;
}

.info-base-title {
    height: 28px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #0a1f44;

    margin-bottom: 8px;
}

.info-base-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 65px;
}

.info-base-item {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8a94a6;

    margin-bottom: 24px;
}

.info-base-item-first {
   color: #0d55cf;
}