p {
    margin: 0;
}

.call-info {
    background-color: #fff;
    text-align: left;
    margin-bottom: 11px;
}

.call-info__content {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 28px;
    padding-bottom: 15px;
}

.call-info_call-subtitle {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8a94a6;
}

.call-info_number {
    font-weight: bold;
}

