.specify {
    background-color: #fff;
    text-align: left;
    margin-bottom: 11px;
}

.specify__content {
    padding-top: 14px;
    padding-left: 32px;
}

.specify__title {
    margin: 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #0a1f44;
}

.specify__subtitle {
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #8a94a6;
}

.specify__options-container {
    margin: 12px 0;
    display: flex;
}