.typical-answers {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 20px;
}

.typical-answers__title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    color: #0a1f44;
    text-align: left;
    margin-left: 16px;
}